In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv(r"https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Loan%20Eligibility%20Prediction.csv")

In [4]:
df.head()

   Customer_ID  Gender Married  ...  Credit_History Property_Area Loan_Status
0          569  Female      No  ...               1         Urban           N
1           15    Male     Yes  ...               1         Urban           Y
2           95    Male      No  ...               1     Semiurban           Y
3          134    Male     Yes  ...               1     Semiurban           Y
4          556    Male     Yes  ...               1     Semiurban           Y

[5 rows x 13 columns]

In [5]:
df.describe()

       Customer_ID  Dependents  ...  Loan_Amount_Term  Credit_History
count   614.000000  614.000000  ...        614.000000      614.000000
mean    307.500000    0.856678  ...        338.892508        0.850163
std     177.390811    1.216651  ...         69.716355        0.357203
min       1.000000    0.000000  ...         12.000000        0.000000
25%     154.250000    0.000000  ...        360.000000        1.000000
50%     307.500000    0.000000  ...        360.000000        1.000000
75%     460.750000    2.000000  ...        360.000000        1.000000
max     614.000000    4.000000  ...        480.000000        1.000000

[8 rows x 7 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer_ID         614 non-null    int64
 1   Gender              614 non-null    object
 2   Married             614 non-null    object
 3   Dependents          614 non-null    int64
 4   Education           614 non-null    object
 5   Self_Employed       614 non-null    object
 6   Applicant_Income    614 non-null    int64
 7   Coapplicant_Income  614 non-null    float64
 8   Loan_Amount         614 non-null    int64
 9   Loan_Amount_Term    614 non-null    int64
 10  Credit_History      614 non-null    int64
 11  Property_Area       614 non-null    object
 12  Loan_Status         614 non-null    object
dtypes: float64(1), int64(6), object(6)
memory usage: 62.5+ KB

In [8]:
df.columns

Index(['Customer_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income',
       'Loan_Amount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status'],
      dtype='object')

In [9]:
df.shape

(614, 13)

In [10]:
df["Loan_Amount"].value_counts()

120    20
110    17
100    15
160    12
187    12
       ..
58      1
59      1
196     1
61      1
10      1
Name: Loan_Amount, Length: 208, dtype: int64

In [12]:
df.groupby('Loan_Amount').mean()

             Customer_ID  Dependents  ...  Loan_Amount_Term  Credit_History
Loan_Amount                           ...
9                  332.5         0.0  ...             360.0             1.0
10                 480.0         2.0  ...             360.0             1.0
15                 424.0         1.0  ...             360.0             1.0
17                  48.5         1.5  ...             240.0             1.0
18                 203.0         4.0  ...             180.0             1.0
...                  ...         ...  ...               ...             ...
500                488.0         1.0  ...             360.0             1.0
570                370.0         0.0  ...             360.0             1.0
600                359.0         2.5  ...             270.0             0.5
650                131.0         0.0  ...             480.0             1.0
700                172.0         4.0  ...             300.0             1.0

[208 rows x 6 columns]

In [16]:
df['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [17]:
df['Gender'].value_counts()

Male      499
Female    115
Name: Gender, dtype: int64

In [18]:
df['Self_Employed'].value_counts()

No     523
Yes     91
Name: Self_Employed, dtype: int64

In [25]:
df['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [19]:
df['Married'].value_counts()

Yes    399
No     215
Name: Married, dtype: int64

In [20]:
df.replace({'Gender':{'Male':0,'Female':1}},inplace=True)

In [21]:
df.replace({'Married':{'No':0,'Yes':1}},inplace=True)

In [23]:
df.replace({'Self_Employed':{'No':0,'yes':1}},inplace=True)

In [26]:
df.replace({'Property_Area':{'Rural':0,'Semiurban':1,'urban':1}},inplace=True)

In [27]:
y = df['Loan_Status']

In [28]:
y.shape

(614,)

In [29]:
y

0      N
1      Y
2      Y
3      Y
4      Y
      ..
609    N
610    N
611    N
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [30]:
X = df[{'Customer_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income',
       'Loan_Amount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status'}]

In [34]:
X = df.drop({'Customer_ID','Loan_Status'},axis=1)

In [35]:
X.shape

(614, 11)

In [36]:
X

     Gender  Married  ...  Credit_History Property_Area
0         1        0  ...               1         Urban
1         0        1  ...               1         Urban
2         0        0  ...               1             1
3         0        1  ...               1             1
4         0        1  ...               1             1
..      ...      ...  ...             ...           ...
609       0        1  ...               1         Urban
610       0        0  ...               1             1
611       0        1  ...               0             0
612       0        1  ...               1             0
613       0        1  ...               1         Urban

[614 rows x 11 columns]

In [38]:
X_std =X[{'Applicant_Income','Coapplicant_Income','Loan_Amount','Loan_Amount_Term'}]

In [39]:
from sklearn.preprocessing import StandardScaler

In [40]:
ss = StandardScaler()

In [43]:
X_std = ss.fit_transform(X_std)

TypeError: ignored

In [ ]:
|X_std

In [44]:
X[{'Applicant_Income','Compplicant','Loan_Amount','Loan_Amount_Term'}] =pd.DataFrame(X_std,columns = ['Applicant_Income','Compplicant','Loan_Amount','Loan_Amount_Term'])

SyntaxError: ignored

In [ ]:
from sklearn.model_selection import train_test_split

In [43]:
X_train,X_test,y_train,y_test=train_train_test_split(X,y,test_size=0.3,stratify=y,random_state = 2529)

In [ ]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier(max_depth =3,random_state = 2529)

In [ ]:
dt.fit(X_train,y_train)

In [ ]:
y_pred = dt.predict(X_test)

In [ ]:
y_pred.shape

In [ ]:
y_pred

In [ ]:
dt.predict_proba(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
print (confusion_matrix,classification_report)

In [ ]:
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.tree import plot_tree

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize =(30,30))
plot_tree(dt,filled = true)